.main {
  font-size: 16px;
}

.toggleBtn {
  /* background-color: var(--buttons); */
  background-color: transparent;
  color: var(--foreground);
  border-color: transparent;
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
}
